/*Imported Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Oregano:ital@0;1&family=Raleway:ital,wght@0,300;0,600;1,300;1,600&family=Taviraj:ital,wght@0,300;0,400;0,800;1,300;1,400;1,800&display=swap');

/*Asterisk Element*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body  {
    background-color: #FCF6BA;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /*General Font*/
    font-family: 'Raleway', sans-serif;
}

/*Header Element*/
header  {
    background: url("../images/marble_background.jpg") no-repeat center center/cover;
}

h1  {
    font-family: 'Taviraj', serif;
}

header a  {
    text-decoration: none;
    color: inherit;
}

nav {
    position: absolute;
    background: url("../images/marble_background.jpg") no-repeat center center/cover;
    width: 100%;
    display: none;
}

/* nav toggle */
#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;
}
/*Main Content*/
main  {
    min-height: 100vh;
}

#landscape  {
    height: 500px;
    width: 100%;
    background: url("../images/book_landscape.jpg") no-repeat center center/cover;
}
/*Footer*/
footer  {
    background-color: #B38728;
    font-family: 'Taviraj', sans-serif;
}