/*Asterisk Element*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body  {
    background-color: #FCF6BA;
    min-height: 100vh;
}

header  {
    background-color: #c9c9c9;
}

footer  {
    background-color: #B38728;
}